.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  /* justify-content: center; */
}

.animate-marquee {
  display: flex; /* Ensure items are aligned in a row */
  width: 100%; /* Ensure content width adjusts to fit all items */
  animation: marquee 10s linear 1;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}
